@font-face{
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Regular.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'Poppins';
	src: url("../fonts/Poppins-SemiBold.woff2");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face{
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Bold.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face{
	font-family: 'Poppins';
	src: url("../fonts/Poppins-BoldItalic.woff2");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}



:root{
	--azulp: #0A191F;
	--azuls: #0D2128;
	--naranjap: #FF1B00;
	--naranjas: #FF7D7A;
	--cyanp: #005749;
	--cyans: #00DCBB;
	--textof: #111111;
	--textom: #505050;
	--rojof: #b52429;
	--grisf: #848484;
	--grisb: #dddddd;
	--fuentep: 'Poppins', sans-serif;
	--marr: #D31F25;
}

.spinner{
	height: 30px;
	width: 30px;
	position: fixed;
	background-color: #000D19;
	right: 50px;
	bottom: 50px;
	z-index: 1000;
	border-width: 5px;
	border-style: solid;
	border-left-color: #00F0FF;
    border-top-color: #fff;
    border-bottom-color: #00F0FF;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 5px #000D19;
	animation: rotation 0.5s linear infinite;
}

@keyframes rotation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}




a{
	outline: none;
}

#hambur{
	right: 0;
	top: 0;
	height: auto;
	width: 60px;
	text-align: center;
	display: none;
	justify-content: center;
	align-items: center;
	line-height: 0;
	z-index: 1550;
}

#hambur i{
	font-size: 28px;
	color: var(--azulp);
}



.disable{
	display: none;
}
.scroll{
	overflow: hidden;
}
.sombra{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	top: 0;
	z-index: 300;
	display: none;
  	transition-duration: 0.4s;
}


.ocultos{
	bottom: -100%;
	transition-duration: 0.5s;
}
.visibles{
	bottom: 0;
	transition-duration: 0.5s;
}
.visible-som{
	display: block;
}





/* menu pagina inicio, acerca de, contacto, apk */
.navegacion{
	background: #f4f4f4;
	height: auto;
	width: 100%;
	font-family: var(--fuentep);
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.navegacion .logocharcas{
	display: inline-block;
}
.navegacion .menu-nav{
	display: inline-block;
	box-shadow: none;
}
.navegacion .menu-nav ul{
	list-style: none;
	margin: 0;
}
.navegacion .menu-nav ul li{
	display: inline;
	margin-left: 24px;
	margin-right: 24px;
	font-size: 14px;
}
.navegacion .menu-nav ul li a:visited{
	color: var(--azulp);
}
.navegacion .menu-nav ul li a:link{
	text-decoration: none;
	color: var(--azulp);
	outline: none;
}
.navegacion .menu-nav ul li a:hover{
	border-bottom: 2px solid var(--azulp);
}
.navegacion .menu-nav ul li a i{
	display: none;
}

.home{
	height: auto;
	width: 100%;
	padding: 50px 10px;
}
.home .content{
	text-align: center;
	
}
.home .content img{
	width: 100px;
	aspect-ratio: 1/1;
}
.home .content h1{
	font-family: var(--fuentep);
	color: var(--azulp);
	font-size: 32px;
	margin-top: 24px;
}
.home .content h2{
	font-family: var(--fuentep);
	color: var(--azulp);
	font-size: 18px;
	margin-top: 15px
}


.home .content p {
    font-family: var(--fuentep);
    color: var(--azulp);
    font-size: 14px;
    margin-top: 30px;
	line-height: 30px;
}


.categorias{
	width: 100%;
	height: auto;
	
}

.content a:visited.tarjet-cat{
	outline: none;
	border: none;
	text-decoration: none;
}
.content a:visited.tarjet-cat h3{
	color: var(--azulp);
}
.content a:visited.tarjet-cat i{
	color: var(--azuls);
}
.content a:link.tarjet-cat{
	text-decoration: none;
    display: flex;
    margin-bottom: 25px;
    padding: 15px 25px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	-moz-box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	border-radius: 5px;
	align-items: center;
	position: relative;
	font-family: var(--fuentep);
	outline: none;
}
	
.content a:link.tarjet-cat img{
	width: 50px;
	aspect-ratio: 1/1;
}
.content a:link.tarjet-cat h3{
	margin-bottom: 0px;
	margin-left: 15px;
	color: var(--azulp);
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	margin-right: 30px;
}
.content a:link.tarjet-cat h3 span{
	font-size: 12px;

}
.content a:link.tarjet-cat h3 span.fb-page{
	color: #1b74e4;
}
.content a:link.tarjet-cat i{
	font-size: 24px;
	position: absolute;
	right: 25px;
	color: var(--azuls);
}

.content a:hover.tarjet-cat{
	background: var(--azuls);
	outline: none;
	
}

.content a:hover.tarjet-cat h3, .content a:hover.tarjet-cat i{
	color: #fff;
}

.registro{
	width: 100%;
	height: auto;
	padding: 40px 0px 0px 0px;
	
}
.registro .content{
	font-family: var(--fuentep);
	color: var(--textom);
	padding-top: 100px;
	padding-right: 100px;
}
.registro .content h4{
	font-size: 36px;
	font-weight: 600;
	font-style: italic;
	color: var(--azulp);
}
.registro .content p{
	font-size: 16px;
	line-height: 35px;
}

.registro .content a:link {
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #00F0FF;
	font-size: 18px;
	font-weight: 700;
	color: var(--azulp);
	outline: none;
}
.registro .content a:visited{
	color: var(--azulp);
	border-bottom: 2px solid #00F0FF;
}


/* page registro */
.content.seccion-registro{
	text-align: left;
}
.title-registro{
	font-size: 52px;
	font-weight: 700;
	color: var(--azulp);
}
.content.seccion-registro .parrafo-registro{
	font-size: 16px;
	margin: 35px 0px;
}
.listado-registro{
	font-family: var(--fuentep);
	margin: 0px;
	padding-left: 15px;
	font-size: 16px;
}
.listado-registro .listado-registro-item:not(:last-child){
	margin-bottom: 10px;
}
.listado-registro-item.info{
	background: var(--cyans);
	display: inline-block;
	padding: 5px 15px;
	color: var(--cyanp);
	font-weight: 400;
	white-space: nowrap;
}
.content.seccion-registro .pref{
	font-size: 16px;
}
.ejemplos{
	text-decoration: none;
}


/*-- estilos modal --*/
.modal-header{
	background: var(--cyans);
	color: var(--cyanp);
}
.btn-close{
	z-index: 100;
}
.modal-title{
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-weight: 600;
}
.ejemplos-items{
	columns: 3;
}
.ejemplos-items img{
	margin-bottom: 1em;
}


.botones-enviar{
	width: 100%;
	height: auto;
	padding: 50px 0px 120px;
}
.title-botones-enviar{
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 60px;
}
.botones-enviar-content{
	display: flex;
	justify-content: space-around;
}
.botones-enviar-item{
	text-decoration: none;
	background: #e1e1e1;
	padding: 15px 30px;
	border-radius: 5px;
}

.botones-enviar-item.whatsapp{
	background: #48C857;
	color: #fff;
}
.botones-enviar-item.telegram{
	background: #3390EC;
	color: #fff;
}
.botones-enviar-item.mail{
	background: #EA4335;
	color: #fff;
}




.btn-reg-home{
	padding-bottom: 50px;
	padding-top: 25px;
	display: none;
}
.btn-reg-home .content a:visited{
	color: var(--azulp);
}
.btn-reg-home .content a:link {
    text-decoration: none;
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
	box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
    border-radius: 5px;
    align-items: center;
    position: relative;
    font-family: var(--fuentep);
	color: var(--azulp);
	background: #00F0FF;
	justify-content: center;
	outline: none;
}
.btn-reg-home .content a:active{
	background: #0BA5AE;
}

.navbottom{
	background: #f4f4f4;
	height: 48px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	display: none;
}
.navbottom ul{
	list-style: none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
.navbottom ul li a:link {
	font-size: 26px;
	text-decoration: none;
	color: var(--azulp);
	padding: 5px 50px;
	border-radius: 50px;
}
.navbottom ul li a:visited{
	color: var(--azulp);
}
.navbottom ul li a:active{
	background: #d7d7d7;
}



.proyects_title{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 18px;
	font-family: var(--fuentep);
}




 .google-play h4{
 	text-align: center;
 	font-size: 24px;
 	font-weight: 700;
 	color: var(--azulp);
 	margin-top: 35px;

 }
.playlogo img{
	height: 75px;
	margin-top: 20px;

}
.playlogo{
	text-align: center;
	
}


/*  ----------page contacto -------------------*/
.redes-contacto{
	display: flex;
	justify-content: center;
	font-family: var(--fuentep);
	padding-bottom: 100px;
}
.redes-contacto ul{
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
.redes-contacto_item{
	margin-top: 20px;
	font-size: 16px;
	color: var(--azuls);
}
.redes-contacto_item span{
	font-weight: 700;
	color: var(--azulp);
	margin-right: 5px;
}
.redes-contacto_item a:link{
	text-decoration: none;
}
.proton a:link{
	color: #4A5893;
}
.telegram a:link{
	color: #199BDD;
}
.whatsapp a:link{
	color: #1DCE3E;
}
.redes-contacto_item a:hover{
	border-bottom: 2px solid;
}






/* ---------------------page proyectos ----------------*/
.informationProyects{
	padding: 30px 0 100px;
}
.informationProyects__card h1{
	font-size: 32px;
	color: var(--azulp);
	font-weight: 700;
}
.informationProyects__items{
	list-style: none;
	padding: 0;
	line-height: 32px;
	color: var(--textom);
}
.informationProyects__items li:nth-child(1){
	margin-bottom: 18px;
}
.informationProyects__galeria{
	width: 100%;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.informationProyects__galeria img{
	min-width: 200px;
	flex: 300px;
	height: 260px;
	object-fit: cover;
}

.reverse-link{
	background: none;
	border: 0;
	margin-bottom: 50px;
}
.reverse-link i{
	font-size: 32px;
}





/* ------------------templates---------------------------- */

/* ----- responsive ------*/

@media screen and (max-width: 1199px){
	
	
}


@media screen and (max-width: 991px){
	
	
	.registro .content {
		padding-top: 50px;
		padding-right: 0px;
	}
	.botones-enviar-content{
		flex-direction: column;
		row-gap: 20px;
	}
	.botones-enviar-item{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.ejemplos-items{
		columns: 2;
	}
	
}




@media screen and (max-width: 767px){
	
	
	.spinner{
		bottom: unset;
		right: unset;
		left: 25px;
		top: 16px;
		height: 25px;
		width: 25px;
	}


	.navegacion{
		justify-content: flex-end;
		position: fixed;
		top: 0;
		z-index: 400;
	}
	
	
	.navegacion .menu-nav{
		display: flex;
	}
	.navegacion .logocharcas{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 120px;
		text-align: center;
	}
	.navegacion .menu-nav{
		position: fixed;
		background: #fff;
		height: auto;
		width: 100vw;
		z-index: 1500;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		-webkit-box-shadow: -8px 0px 17px -11px rgba(0,0,0,0.54);
		-moz-box-shadow: -8px 0px 17px -11px rgba(0,0,0,0.54);
		box-shadow: -8px 0px 17px -11px rgba(0,0,0,0.54);
		border-radius: 10px 10px 0px 0px;
	}	
	
	
	.navegacion .menu-nav ul{
		height: 100%;
		width: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.navegacion .menu-nav ul li{
		margin-left: 0px;
		font-size: 16px;

	}
	.navegacion .menu-nav ul li a i{
			display: block;
			margin-right: 15px;
	}

	.navegacion .menu-nav ul li a:link{
		width: 100%;
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: start;
		margin-bottom: 20px;
		border-bottom: 1px solid var(--grisb);
	}
	.navegacion .menu-nav ul li a:visited{
		border-bottom: 1px solid var(--grisb);
	}
	.navegacion .menu-nav ul li a:active{
		background: var(--grisb);
	}
	
	
	
	#habur{
		height: auto;
		z-index: 550;
	}
	.home{
		margin-top: 56px;
	}
	
	
	.registro{
		display: none;
	}
	.btn-reg-home{
		display: block;
	}

	.content a:link.tarjet-cat{
		background: #FBFBFB;
		border: 1px solid var(--grisb);
		box-shadow: none;
		outline: none;
	}
	.content a:visited.tarjet-cat{
		outline: none;
		border: 1px solid var(--grisb);
	}
	.content a:hover.tarjet-cat{
		background: #fbfbfb;
	}
	.content a:active.tarjet-cat{
		background: var(--grisb);
	}
	
	.content a:hover.tarjet-cat h3{
	color: var(--azulp);
	}
	.content a:hover.tarjet-cat i{
		color: var(--azuls);
	}
	
	
	.modall{
		display: flex;
	}
	#hambur{
		display: flex;
	}
	.navbottom{
		display: block;
	}
	
	
	/* estilos para la pagina de registro */
	.title-registro{
		text-align: center;
	}
	.seccion-registro-imagen{
		display: none;
	}
	.botones-enviar{
		padding-top: 20px;
	}
	
	
	
	/* --- estilos para la pagina proyectos ----*/
	.informationProyects{
		padding-top: 80px;
	}
	.informationProyects__galeria img{
		height: auto;
	}
	
	
	
	.reverse-link{
		margin-bottom: 25px;
	}
	
	
}




@media screen and (max-width: 575px){
	.home .content h1{
		font-size: 18px;
	}
	.home .content h2{
		font-size: 14px;
	}
	.ejemplos-items{
		columns: 1;
	}
	
	/* estilos para la pagina de registro */
	.title-registro{
		font-size: 36px;
	}
	.content.seccion-registro .parrafo-registro, .listado-registro , .content.seccion-registro .pref {
    	font-size: 14px;
	}
	.title-botones-enviar{
		margin-left: 1em;
		margin-right: 1em;
		font-size: 20px;
	}
	.redes-contacto_item{
		font-size: 14px;
	}

	
	
	
	
	.informationProyects__card h1{
		font-size: 24px;
	}
	.informationProyects__items{
		font-size: 14px;
		line-height: 24px;
	}
	
	
	

	
}


@media screen and (max-width: 490px){
	
	.listado-registro-item.info{
		white-space: normal;
	}
	.google-play h4{
		font-size: 18px;
	}
}



@media screen and (max-width: 384px){
	
}

@media screen and (max-width: 344px){
	.botones-enviar-item {
		font-size: 16px;
		padding: 15px;
	}
}
