:root{
	--azulp: #0A191F;
	--azuls: #0D2128;
	--naranjap: #FF1B00;
	--naranjas: #FF7D7A;
	--cyanp: #005749;
	--cyans: #00DCBB;
	--textof: #111111;
	--textom: #505050;
	--rojof: #b52429;
	--grisf: #848484;
	--grisb: #dddddd;
	--fuentep: 'Poppins', sans-serif;
	--marr: #D31F25;
}

.disable{
	display: none;
}
.scroll{
	overflow: hidden;
}
.sombra{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	top: 0;
	z-index: 300;
	display: none;
  	transition-duration: 0.4s;
}

.modall {
	position: fixed;
	height: 80vh;
	width: 100%;
	background: #f2f2f2;
	bottom: -80vh;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	z-index: 400;
	padding: 6% 2%;
	justify-content: center;
	align-content: center;
	font-family: var(--fuentep);
	display: none;
	transition-duration: 0.5s;
}
.modall i{
	position: absolute;
    font-size: 36px;
    top: 0;
    color: var(--azulp);
    padding-left: 30%;
    padding-right: 30%;

}
.modall .horario .content h4 {
	margin-top: 20%;
	margin-bottom: 10%;
	text-align: center;
	font-size: 28px;
	color: var(--azulp);
	font-weight: 600;
}
.modall .horario .content ul li{
	line-height: 35px;
	font-size: 14px;
	color: var(--textom);
}
.modall .horario .content ul li.day{
	color: var(--textof);
	font-weight: 600;
}

.visible{
	bottom: 0;
	transition-duration: 0.5s;
}
.visible-som{
	display: block;
}





/* menu pagina inicio, acerca de, contacto, apk */
.navegacion{
	background: #f4f4f4;
	height: auto;
	width: 100%;
	font-family: var(--fuentep);
	display: flex;
	justify-content: space-between;
	padding: 1% 2%;
}
.navegacion .logocharcas{
	display: inline-block;
}
.navegacion .menu-nav{
	display: inline-block;
}
.navegacion .menu-nav ul{
	list-style: none;
	margin: 0;
}
.navegacion .menu-nav ul li{
	display: inline;
	margin-left: 24px;
	font-size: 14px;
}
.navegacion .menu-nav ul li a:visited{
	color: var(--azulp);
}
.navegacion .menu-nav ul li a:link{
	text-decoration: none;
	color: var(--azulp);
	outline: none;
}
.navegacion .menu-nav ul li a:hover{
	border-bottom: 2px solid var(--azulp);
}

.home{
	height: auto;
	width: 100%;
	padding: 50px 10px;
}
.home .content{
	text-align: center;
}
.home .content img{
	width: 100px;
}
.home .content h1{
	font-family: var(--fuentep);
	color: var(--azulp);
	font-size: 16px;
	margin-top: 24px;
}


.categorias{
	width: 100%;
	height: auto;
	
}
.content a:visited.tarjet-cat{
	outline: none;
}
.content a:visited.tarjet-cat h3{
	color: var(--azulp);
}
.content a:visited.tarjet-cat i{
	color: var(--azuls);
}
.content a:link.tarjet-cat{
	text-decoration: none;
    display: flex;
    margin-bottom: 25px;
    padding: 15px 25px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	-moz-box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	box-shadow: 0px 0px 40px 0px rgba(221,221,221,0.7);
	border-radius: 5px;
	align-items: center;
	position: relative;
	font-family: var(--fuentep);
	outline: none;
}
	
.content a:link.tarjet-cat img{
	width: 50px;
}
.content a:link.tarjet-cat h3{
	margin-bottom: 0px;
	margin-left: 15px;
	color: var(--azulp);
	font-size: 18px;
	font-weight: 400;

}
.content a:link.tarjet-cat i{
	font-size: 24px;
	position: absolute;
	right: 25px;
	color: var(--azuls);
}

.content a:hover.tarjet-cat{
	background: var(--azuls);
	
}

.content a:hover.tarjet-cat h3, .content a:hover.tarjet-cat i{
	color: #fff;
}

.registro{
	width: 100%;
	height: auto;
	padding: 40px 0px 0px 0px;
	
}
.registro .content{
	font-family: var(--fuentep);
	color: var(--textom);
	padding-top: 100px;
	padding-right: 100px;
}
.registro .content h4{
	font-size: 36px;
	font-weight: 600;
	font-style: italic;
	color: var(--azulp);
}
.registro .content p{
	font-size: 16px;
	line-height: 35px;
}
.registro .content a:visited{
	color: var(--azulp);
}
.registro .content a:link {
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #00F0FF;
	font-size: 18px;
	font-weight: 700;
	color: var(--azulp);
	outline: none;
}




.btn-reg-home{
	padding-bottom: 50px;
	padding-top: 25px;
	display: none;
}
.btn-reg-home .content a:visited{
	color: var(--azulp);
}
.btn-reg-home .content a:link {
    text-decoration: none;
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
	-moz-box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
	box-shadow: 0px 10px 30px 0px rgba(0,240,255,0.4);
    border-radius: 5px;
    align-items: center;
    position: relative;
    font-family: var(--fuentep);
	color: var(--azulp);
	background: #00F0FF;
	justify-content: center;
	outline: none;
}
.btn-reg-home .content a:active{
	background: #0BA5AE;
}



/* ------------------templates---------------------------- */

/* ----- responsive ------*/

@media screen and (max-width: 1199px){
	
	
}


@media screen and (max-width: 991px){
	
	
	.registro .content {
		padding-top: 50px;
		padding-right: 0px;
	}

	
}




@media screen and (max-width: 767px){
	.navegacion{
		display: none;
	}
	.registro{
		display: none;
	}
	.btn-reg-home{
		display: block;
	}
	.content a:link.tarjet-cat{
		background: #FBFBFB;
		border: 1px solid var(--grisb);
		box-shadow: none;
	}
	.content a:hover.tarjet-cat h3{
	color: var(--azulp);
	}
	.content a:hover.tarjet-cat i{
		color: var(--azuls);
	}
	.content a:active.tarjet-cat{
		background: var(--grisb);
	}
	
}




@media screen and (max-width: 575px){
	.home .content h1{
		font-size: 14px;
	}
	
}


@media screen and (max-width: 490px){
	
	
	
}



@media screen and (max-width: 384px){
	
}

@media screen and (max-width: 344px){
	
}
