:root{
	--cp1: #d2c4fb;
	--cp2: #E2D8FF;
	
	--morado1: #3743b2;
	--morado2: #e2e2fa;
	--morado3: #f1f1ff;
	--negro1: #010101;
	--gris1: #797979;
	--gris2: #9d9d9d;
	--gris3: #f2f2f2;
	--fuentep: 'Poppins', sans-serif;

	
}


/* ------ boton flotante llamar  -----------*/

a:link.btn-llamar{
	background: var(--cp1);
	color: greenyellow;
	border: 2px solid greenyellow;
}
a:visited.btn-llamar{
	color: yellowgreen;
}

/* ------ fin boton flotante llamar  -----------*/

/* -------- barra top fixed ----- */
.navv {
    background: var(--cp1);  
}
 /* se cambia la barra top fixed a color blanco con esta regla css */
.blanca{
	background: #f9f9f9;
	border-bottom: 1px solid #ececec;
	transition: background 0.2s ease-out;
	/*-webkit-box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	*/
}

/* --- estilos para la flecha de retroceso en la barra top fixed  ---*/
.flot-reverse{
	font-size: 32px;
	color: var(--negro1);
}
.flot-reverse:hover{
	cursor: pointer;
}

.reverse-color{
	color: var(--negro1);
}

.flot-anverse {
    font-size: 32px;
    color: var(--negro1);
}
.flot-anverse:hover{
	cursor: pointer;
}



/* /////////// la pagina nenis no tiene el boton de horario */



/* --- seccion banner para todas las paginas con tarjetas --- */
/* //// solo se agrega la imagen y la posicion, la estructa esta en my.css */

.banner{
	background: url(../images/girl.jpg) center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
/*
.banner:before{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(10,25,31,1);
	background: -moz-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,25,31,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a191f', endColorstr='#ffffff', GradientType=1 );
}
*/



.banner .content h1 span.title{
	font-size: 72px;
	font-weight: 700;
	letter-spacing: 1.5rem;
	color: var(--morado1);
	font-style: italic;
}
.banner .content h1 span.title2{
	font-weight: 400;
}
.banner .content p{
	color: #fff;
}







/* -------------------------------------------------------negocio personalizacion ---------------------*/
.neg .tarjeta .contenido ul li.title{
	color: var(--negro1);
}
.neg .tarjeta .contenido ul li.telefono{
	color: var(--morado1);
}
a:visited.boton.boton-menu{
	color: #fff;
}
/* -- color para los botones que tengan la clase .boton */
a:link.boton{
	background: var(--morado1);
	color: #fff;	
}

/* ///////// boton grande de registro  /////// */
/* --- color para el boton grande cuando se visita ---*/
a:visited.boton.boton-register{
	color: #fff;
}

/* color de la sombra */
a:link.boton.boton-register{
	-webkit-box-shadow: 0px 15px 15px 0px rgba(55, 67, 178, 0.34);
	-moz-box-shadow: 0px 15px 15px 0px rgba(55, 67, 178, 0.34);
	box-shadow: 0px 15px 15px 0px rgba(55, 67, 178, 0.34);
}




/* --------------- seccion registro -----------*/
.register .contenido h3{
	color: var(--negro1);
}
.register .contenido p{
	color: var(--gris1);
}


/* -----------------seccion contacto ---------------*/
.contacto{
	background: var(--cp2);
}
.contacto a:visited{
	border: 2px solid var(--negro1);
	color: var(--negro1);
}
.contacto a:link{
	border: 2px solid var(--negro1);
	color: var(--negro1);
}




/* ------------------seccion footer -------------------*/
.dy{
	background: var(--cp1);
}
.dy h6{
	color: var(--negro1);
}






/* --- --------------------------------------------------------------- */
/* --- ------------------------ template ----------------------------- */
/* --- --------------------------------------------------------------- */
.banner-r{
	background: var(--morado2);
}



.banner-r .information ul li{
	color: var(--grisf);
}
.banner-r .information ul li.title{
	color: var(--grisb);
}

.banner-r .information ul li.tel a:visited{
	color: var(--morado1);
}
.banner-r .information ul li.tel a:link{
	color: var(--morado1);	
}




.banner-r .information ul li.fb a:visited{
	color: #fff;
	outline: none;
}
.banner-r .information ul li.fb a:link{
	text-decoration: none;
	background: #1094F4;
	border-radius: 50px;
	padding: 5px 20px;
	color: #fff;
	outline: none;
}
.banner-r .information ul li.fb a:hover{
	background: #0268E3;
}


.banner-r .information ul li.fb-perfil{
	display: none;
}



/* ----las nenis no tienen seccion de horario ---*/
.banner-r .horario{
	background: var(--azulp);
}


.banner-r .horario .content h4{
	font-size: 24px;
	color: yellow;
	margin-top: 10px;
	font-weight: 600;
}
.banner-r .horario .content ul{
	margin-bottom: 0px;
}
.banner-r .horario .content ul li{
	line-height: 35px;
	font-size: 16px;
	color: var(--grisf);
}
.banner-r .horario .content ul li.day{
	color: var(--grisb);
	font-weight: 600;
}


.pady{
	padding-top: 100px;
	padding-bottom: 100px;
}

.marca p.text{
	font-size: 24px;
    font-weight: 600;
    color: var(--negro1);
	margin-bottom: 40px;
}


.carde{
	width: 100%;
	border-radius: 5px;
	display: flex;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: var(--fuentep);
	border: 1px solid var(--gris3);
	align-items: center;
	justify-content: center;
	height: 100%;
}



/* ---------------------------------------- responsive------------------ ------*/

@media screen and (max-width: 1199px){
	.tarjet{
		padding-right: 30px;
	}
	.tarjet .content .body span.name {
    	font-size: 18px;
	}
	.tarjet .content .body span.porcion{
		font-size: 16px;
	}
	.tarjet .content span.price{
		font-size: 24px;
	}
	
}


@media screen and (max-width: 991px){
	
		
	
	
	
	.pady{
		padding-top: 50px;
	}
	
}




@media screen and (max-width: 767px){
	
	
	.banner{
		background-position: center -30%;
	}
	
	.banner .content h1 span.title{
		font-size: 48px;
	}
	.banner .content h1 span.title2{
		font-size: 24px;
	}

	
	
	
	.banner-r .information ul li.fb{
	margin-top: 15px;
	}
	.banner-r .information ul li.fb-perfil{
		display: block;
	}
	.banner-r .information ul li.fb-mes{
		display: none;
	}
	
	
}




@media screen and (max-width: 575px){
	
	.banner{
		background: var(--cp2);
	}
	.banner::before{
		display: none;
	}
	
	
	
	.banner .content h1 span.title{
		font-size: 36px;
		letter-spacing: 0.5em;
	}
	.banner .content h1 span.title2{
		font-size: 20px;
	}
	
	
	.banner .content p {
    	font-size: 12px;
		margin-right: 40%;
		color: var(--negro1);
	}

	
	
	
	/* ------tarjetas negocios -------*/
	.neg .tarjeta{
		border: 1px solid var(--morado2);
		background: var(--morado3);
	}
	


	
	

	.pady{
		padding-top: 50px;
	}
	

	
	.marca p.text{
		font-size: 18px;
	}
	.banner-r .information ul li.fb a:link{
		font-size: 14px;
	}

	/* ---------- barra top fixed ---------*/
	.p-no{
		font-size: 14px;
	}
	
}


@media screen and (max-width: 490px){
	
	
	
	
}



@media screen and (max-width: 384px){
	
	.banner .content h1 span.title{
		font-size: 28px;
		letter-spacing: 0.2em;
	}
	
	
}

@media screen and (max-width: 344px){
	
	.neg .tarjeta .contenido ul li.title {
		font-size: 14px;
	}
}
