:root{

	--cp1: #0A191F; /* color principal 1 */
	--cp2: #0D2128; /* color principal 2 */
	--cs1: #095DCA; /* color secundario 1 (--enlaces y botones) --*/
	

	--ct: #0371B3; /* color terciario cyan */
	--cc: #D31F25; /* color cuarto marron*/

	--cgris1: #111111; 
	--cgris2: #505050;
	--cgris3: #848484;
	--cgris4: #dddddd;

	--fuentep: 'Poppins', sans-serif;
	
}


/* ------ boton flotante llamar  -----------*/

a:link.btn-llamar{
	background: var(--cp1);
	color: greenyellow;
	border: 2px solid greenyellow;
}
a:visited.btn-llamar{
	color: yellowgreen;
}

/* ------ fin boton flotante llamar  -----------*/


/* -------- barra top fixed ----- */
.navv{
	background: var(--cp2);
}

 /* se cambia la barra top fixed a color blanco con esta regla css */
.blanca{
	background: #f9f9f9;
	border-bottom: 1px solid #ececec;
	transition: background 0.2s ease-out;
	/*-webkit-box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.1);
	*/
}

/* --- estilos para la flecha de retroceso en la barra top fixed  ---*/
.flot-reverse{
	font-size: 32px;
	color: var(--cgris4);
}
.flot-reverse:hover{
	cursor: pointer;
}

.reverse-color{
	color: var(--cp1);
}

.flot-anverse {
    font-size: 32px;
    color: #ffffff;
}
.flot-anverse:hover{
	cursor: pointer;
}

/* --- colores para el boton de horario en version movil ---- */
/* ---la estructura original esta en may.css --- */
#horario{
	background: var(--cgris4);
	-webkit-box-shadow: 0px 10px 19px 0px rgba(10,25,31,0.28);
	-moz-box-shadow: 0px 10px 19px 0px rgba(10,25,31,0.28);
	box-shadow: 0px 10px 19px 0px rgba(10,25,31,0.28);
}
#horario i{
	
	color: var(--cp1);
}









/* --- seccion banner para todas las paginas con tarjetas --- */
/* //// solo se agrega la imagen y la posicion, la estructa esta en my.css */

.banner{
	background: url(../images/mob.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
.banner:before{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(10,25,31,1);
	background: -moz-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,25,31,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(10,25,31,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a191f', endColorstr='#ffffff', GradientType=1 );
}

.banner .content h1 span.title{
	font-size: 60px;
	font-weight: 700;
	font-style: italic;
	
}
.banner .content h1 span.title2{
	font-weight: 400;
}
.banner .content p{
	color: yellow;
}




/* -----------------------------------  negocios personalizacion ------------------------------------- -------*/

.neg .tarjeta .imagen img{
	border-radius: 100px;
}


.neg .tarjeta .contenido ul li.title{
	color: var(--cp1);
}
.neg .tarjeta .contenido ul li.telefono{
	color: var(--ct);
}
.neg .tarjeta .contenido ul li.whatsapp{
	color: #1cb39b;
}
a:visited.boton.boton-menu{
	color: #fff;
}
/* -- color para los botones que tengan la clase .boton */
a:link.boton{
	background: var(--cs1);
	color: #fff;
}


/* ///////// boton grande de registro  /////// */
/* --- color para el boton grande cuando se visita ---*/
a:visited.boton.boton-register{
	color: #fff;
}
/* color de la sombra */
a:link.boton.boton-register{
	-webkit-box-shadow: 0px 15px 15px 0px rgba(0, 88, 255, 0.4);
	-moz-box-shadow: 0px 15px 15px 0px rgba(0, 88, 255, 0.4);
	box-shadow: 0px 15px 15px 0px rgba(0, 88, 255, 0.4);
}



/* -----------------seccion registro -----------------*/
/* aqui se agrego la imagen de pizza que esta al fondo  */


.register .contenido h3{
	color: var(--cp1);
}
.register .contenido h3 span{
	color: var(--cs1);
}
.register .contenido p{
	color: var(--cgris1);
}



/* -----------------seccion contacto ---------------*/

.contacto{
	background: var(--cp2);
}
.contacto a:visited{
	border: 2px solid var(--cgris4);
	color: var(--cgris3);
}
.contacto a:link{
	border: 2px solid var(--cgris4);
	color: var(--cgris4);
}


/* ------------------seccion footer -------------------*/
.dy{
	background: var(--cp1);
}
.dy h6{
	color: var(--cgris4);
}








/* --- --------------------------------------------------------------- */
/* --- ------------------------ template ----------------------------- */
/* --- --------------------------------------------------------------- */
.banner-r{
	background: var(--cp2);
}

.banner-r .information ul li{
	color: var(--cgris3);
}

.banner-r .information ul li.title{
	color: var(--cgris4);
}

.banner-r .information ul li.tel a:link, .banner-r .information ul li.whatsapp a:link, .banner-r .information ul li.facebook a:link{
	color: greenyellow;
}
.banner-r .information ul li.tel a:visited, .banner-r .information ul li.whatsapp a:visited, .banner-r .information ul li.facebook a:visited{
	color: greenyellow;
	text-decoration: none;
}






.banner-r .horario{
	background: var(--cp1);
}

.banner-r .horario .content h4, .banner-r .horario .content p{
	color: yellow;
}
.banner-r .horario .content ul li{
	color: var(--cgris3);
}
.banner-r .horario .content ul li span.day{
	color: var(--cgris4);
	
}




h4.subtitles-2{
	color: var(--cp1);
}




/* -----------------------seccion services ----------------*/
.services h5, .services p{
	text-align: center;
}
.services h5{
	font-size: 24px;
	margin-bottom: 60px;
	font-weight: 600;
}
.services h5.parrafo{
	margin-bottom: 100px;
}
.services p strong{
	border-bottom: 2px solid;
}

.services .listado{
	display: flex;
	justify-content: center;
}
.services .listado ul{
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	padding: 0px;
}
.services .listado ul li{
	display: flex;
	justify-content: start;
	align-items: center;
}
.services .listado ul li img{
	width: 65px;
	margin-right: 10px;
	aspect-ratio: 1/1;
}

.pie-text{
	margin-top: 80px;
}





/* ----------------------------------------------------------responsive ------------------------------------------------*/
/* ----------------------------------------------------------responsive ------------------------------------------------*/
/* ----------------------------------------------------------responsive ------------------------------------------------*/
/* ----------------------------------------------------------responsive ------------------------------------------------*/

@media screen and (max-width: 1199px){

	
	
}


@media screen and (max-width: 991px){

	.register{
		background: none;
	}
	.register img.girl{
		width: 115px;
	}
	
	
	
	
	
	
}




@media screen and (max-width: 767px){
	

	.banner .content h1 span.title{
		font-size: 48px;
	}
	.banner .content h1 span.title2{
		font-size: 24px;
	}
	

	
	/* --- seccion servicios listado ---*/
	.services .listado ul{
		gap: 40px;
		grid-template-columns: 1fr 1fr;
	}
	.services .listado ul li img{
		width: 50px;
	}

	
	
}




@media screen and (max-width: 575px){
	/*.navv {
    	background: var(--cp2);
	}*/
	.banner{
		background: var(--cp2);
	}
	.banner::before{
		display: none;
	}
	
	
	
	
	.banner .content h1 span.title{
		font-size: 32px;
	}
	.banner .content h1 span.title2{
		font-size: 20px;
	}
	
	.banner .content p {
    	font-size: 12px;
		margin-right: 40%;
	}
	
	/* ------tarjetas negocios -------*/
	.neg .tarjeta{
		border: 1px solid var(--cgris4);
		background: #FBFBFB;
	}
		
	
	/* --- seccion servicios listado ---*/
	/* estilos parrafos y titles */
	
	
	
	.services h5, .services p{
		margin: 0px 1.5%;
	}
	.services h5{
		font-size: 18px;
		margin-bottom: 50px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		margin-right: 10%;
		margin-left: 10%;
	}
	.services h5.parrafo{
		margin-bottom: 50px;
	}
	
	.services .listado ul{
		grid-template-columns: 1fr;
	}
	.services .listado ul li{
		font-size: 14px;
	}
	.services .listado ul li img{
		width: 50px;
	}
	
	.services .pie-text{
		margin-top: 50px;
		font-size: 14px;
	}
	
	
	
}


@media screen and (max-width: 490px){
	
	
	
	
}




@media screen and (max-width: 384px){
	

}

@media screen and (max-width: 344px){

}
